
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.paper {
    background-color: #fff;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

li::before {
    content: "\2022"; /* Bullet point character */
    color: #ff69b4; /* Pink color */
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

a {
    color: #ff69b4; /* Pink color */
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 20px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
}
